:root {
    --primary-color: #2B2C2C;
    --secondery-color: #303131;
    --primary--text-color: #fff;
    --secondary--text--color: #829D9F;
    --bold--text--color: #F7A95A;
    --animation-speed: 2s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    background: #fff;
}

ul {
    list-style: none;
}

a {
    color: var(--primary--text-color);
    text-decoration: none;
}

.hero {
    background: var(--primary-color);
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    padding: 0 30px;
    transition: 0.5s ;
}

.navbar ul {
    display: flex;
}

.navbar a{  
    text-decoration: none;
    list-style: none;
    padding: 0 15px;
    color: var(--primary--text-color);
    font-size: 1rem;
    font-weight: bold;
}

.navbar.top {
    background: transparent;
}
.navbar .logo > img {
    width: 100px;
}

.navbar a:hover {
    padding-bottom: 3px;
    border-bottom: var(--bold--text--color) solid;
    color: var(--bold--text--color);
}
.navbar.top{
    background: transparent;
}

/* Home */

.home-container {
    height: 100vh;
    display: flex;
}

.home_lable_ligth {
    font-size: 2rem;
    color: var(--primary--text-color);
}
.home_lable_bold {
    font-size: 3rem;
    font-weight: bold;
    /* color: var(--bold--text--color); */
    background-color: #F7A95A;
}
.home_sub_lable {
    font-size: 2rem;
    color: var(--primary--text-color);
    padding-bottom: 1.2rem;
}

.left__home__container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /* padding-left: 6rem; */
    margin-left: 6rem;
}

.rigth__home__container{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.container_pic > img {
    border-radius: 50%;
    /* border: 3px solid var(--bold--text--color); */
    background-color: #F7A95A;
    width: 450px;
}
/* button */

.btn {
    width: 230px;
    height: 60px;
    border-radius: 4px;
    /* background-color: var(--bold--text--color); */
    background-color: #F7A95A;
    color: var(--primary--text-color);
    border: none;
    font-size: 26px;
    margin-top: 15px;
    transition: color 0.4s;
    transition: background-color 0.4s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--primary-colortext--color);
    color: var(--bold--text--color);
    border: 3px solid var(--bold--text--color);
}

/* Page animation */

.left__home__container .home_lable_ligth,
.left__home__container .home_lable_bold,
.left__home__container .home_sub_lable,
.left__home__container .btn {
    transform: translateX(-800px);
    animation: heading var(--animation-speed) forwards ease-in;
 }

@keyframes heading {
    to {
        transform: translateX(0);
    }
}


/* About page */

#about {
    height: 100vh;
    background: var(--secondery-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--secondery-color);
}
.separator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_lable{
    border-bottom: 2px solid var(--bold--text--color);
   
    width: fit-content;
    font-size: 2rem;
    color: #fff;
}



#about p {
    font-size: 1.2rem;
    color: #829D9F;
}

.about_lable_bold {
    font-size: 1rem;
    font-weight: bold;
    color: var(--bold--text--color);
}

/* About Page animation */ 

#about .about_lable,
#about .seperator,
#about .btn,
#about p {
    transform: translateY(800px);
    animation: about var(--animation-speed) forwards ease-in-out;
    opacity: 0;
 }

@keyframes about {
    to {
        transform: translateY(0);
        opacity: 1;
    }
} 

/* Contact Page */

.contact-container {
    height: 100vh;
    background: var(--primary-color);
}

.contact-form {
    position: absolute;
    display: grid;
    align-items: flex-start;
    justify-content: start;
}
.contact__lable {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.contact__lable > span{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

.page__lable {
    font-size: 2rem;
    color: var(--primary--text-color);
    border-bottom: 2px solid var(--bold--text--color);
    width: fit-content;
 
}
.contact_lable_bold {
    font-size: 3rem;
    font-weight: bold;
    color: var(--bold--text--color);
}
.contact_sub_lable {
   
    font-size: 2rem;
    color: var(--primary--text-color);
    padding-bottom: 1.2rem;
}

.sub__container {
     /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    
}

.left__contact__container {
    text-align: center;
    /* border: 2px solid red; */
    height: 50vh;
    width: 30vw;
    margin-left: 4rem;
    color: var(--secondary--text--color);
    margin-top: 4rem;
}


.social {
    padding-top: 5rem;
    font-size: 10px;
}
.social > span{
    padding-bottom: 10px;
    color: var(--secondary--text--color);
    font-size: 25px;
}
.social a i{
    color: var(--secondary--text--color);
    padding-left: 5px;
}


.contact__info__lable{
    font-size: 2rem;
}
.contact__info__lable .box > span{
    font-size: 2rem;
}


.lable_input {
    color: var(--secondary--text--color);
    margin-bottom: 10px;
}

input[type='text'], textarea{
    
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    width: 40vw;
    background-color: var(--secondery-color);
    resize: none;
    color: var(--secondary--text--color);
}

input[type='text']:hover, textarea:hover{
    border: 1px solid var(--bold--text--color);
}

.socila .fab {
    background: var(--secondary--text--color);
}



/* button */

.submit_btn {
    width: 230px;
    height: 60px;
    border-radius: 4px;
    background-color: var(--bold--text--color);
    color: var(--primary--text-color);
    border: none;
    font-size: 22px;
    margin-top: 15px;
    transition: color 0.4s;
    transition: background-color 0.4s;
    cursor: pointer;
}

.submit_btn:hover {
    background-color: var(--primary-colortext--color);
    color: var(--bold--text--color);
    border: 3px solid var(--bold--text--color);
}

/* Page animation */

.sub__container{
    transform: translateX(-800px);
    animation: contact var(--animation-speed) forwards ease-in;
    opacity: 0;
 }

@keyframes contact {
    to {
        transform: translateX(0);
        opacity: 1;
    }
} 

.footer {
    background: var(--secondery-color);
    text-align: center;
    color: var(--secondary--text--color);
}



@media screen and (max-width: 1100px){
    .container_pic > img{
        width: 340px;
        text-align: center;
    }

    .sub__container {
        display:flex;
        flex-direction: column;
    }

    .about p {
        padding: 0 30px;
    }

    .sub__container{
        display: grid;
        grid-column: 1;
        
    }

    input[type='text'], textarea{
    
        color: var(--secondary--text--color);
    }
    
}
@media screen and (max-width: 768px){
    .navbar {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin-top: 20px;
    }
    .home-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .left__home__container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-right: 15px;
    }

    .about p {
        padding: 0 10px;
    }
    .container_pic > img{
        width: 340px;
        text-align: center;
    }

    .sub__container {
        display:flex;
        flex-direction: column;
    }

    .social {
        padding: 10px;
        font-size: 10px;
        margin-bottom: 10px;
    }

    .lable_input {
        color: var(--secondary--text--color);
    }
    
    input, textarea{
        font-size: 10px;
        border: none;
        background-color: var(--secondery-color);
        resize: none; 
    }

    .left__contact__container  {
        font-size: 10px;
        margin-left: 0rem;
    }

    .right__contact__container  {
        font-size: 10px;
        margin-left: 0rem;
    }

    .contact__lable {
        display: flex;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
    }

    .left__home__container {
        margin-left: 1rem;
    }

    .sub__container{
        display: grid;
        grid-column: 1;
        
    }

    input[type='text'], textarea{
    
        color: var(--secondary--text--color);
    }
}
@media screen and (max-width: 570px){
    .container_pic > img{
        width: 340px;
        text-align: center;
    }

    .sub__container {
        display:flex;
        flex-direction: column;
    }

    .about p {
        padding: 0 30px;
    }

    .sub__container{
        display: grid;
        grid-column: 1;
        
    }
    .contact__info__lable {
        font-size: 25px;
    }
    .social > span {
        font-size: 20px;
    }

    input[type='text'], textarea{
    
        color: var(--secondary--text--color);
    }
}

@media screen and (max-width: 527px) and (min-width: 494px){
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .home-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  
    
    .left__home__container .home_sub_lable {
        display: flex;
        align-items: center;
        justify-content: center;
       font-size: 30px;
    }

    .left__home__container .home_lable_bold,
    .left__home__container .home_lable_ligth{
        font-size:  40px;
    }
    .container_pic > img{
        width: 330px;
        text-align: center;
    }

    .contact-container {
        display:flex;
        flex-direction: column;
    }
    .submit_btn {
        width: 170px;
        height: 60px;
        font-size: 15px;
    }
    .contact__info__lable {
        font-size: 22px;
    }

    input[type='text'], textarea{
    
        color: var(--secondary--text--color);
    }
}

@media screen and (max-width: 495px) and (min-width: 400px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .navbar ul li a {
        font-size: 15px;
    }
    .home-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container_pic > img{
        width: 300px;
        text-align: center;
    }

    .left__home__container {
        margin-top: 4rem;
        margin-left: 0rem;
    }

    .left__home__container .home_sub_lable {
       font-size: 22px;
    }

    .left__home__container .home_lable_bold,
    .left__home__container .home_lable_ligth{
        font-size:  32px;
    }

    .submit_btn {
        width: 170px;
        height: 60px;
        font-size: 15px;
    }
    .contact__info__lable {
        font-size: 20px;
    }

    .contact__lable {
        margin-bottom: 3rem;
    }
    input[type='text'], textarea{
    
        color: var(--secondary--text--color);
    }
}

@media screen and (max-width: 400px) and (min-width: 360px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .navbar ul li a {
        font-size: 12px;
    }
    .home-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container_pic > img{
        width: 340px;
        text-align: center;
    }

    .left__home__container {
        margin-top: 4rem;
        margin-left: 0rem;
    }

    .left__home__container .home_sub_lable {
       font-size: 22px;
    }

    .left__home__container .home_lable_bold,
    .left__home__container .home_lable_ligth{
        font-size:  35px;
    }

    .submit_btn {
        width: 150px;
        height: 60px;
        font-size: 15px;
    }
    .contact__info__lable {
        font-size: 20px;
    }
    input[type='text'], textarea{
    
        color: var(--secondary--text--color);
    }
}

@media screen and (max-width: 360px) and (min-width: 320px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .navbar ul li a {
        font-size: 10px;
    }
    .home-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container_pic > img{
        width: 230px;
    }

    .left__home__container {
        margin-top: 4rem;
        margin-left: 0rem;
    }

    .left__home__container .home_sub_lable {
       font-size: 17px;
    }

    .left__home__container .home_lable_bold,
    .left__home__container .home_lable_ligth{
        font-size:  27px;
    }

    .submit_btn {
        width: 150px;
        height: 60px;
        font-size: 15px;
    }
    .btn {
        width: 150px;
        height: 60px;
        font-size: 15px;
    }

    .submit_btn {
        width: 150px;
        height: 40px;
        font-size: 15px;
    }

    .contact__lable {
        display: flex;
        padding-top: 30px;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.5rem; 
    }
    .contact__info__lable {
        font-size: 17px;
    }
    .social > span {
        font-size: 15px;
    }
    input[type='text'], textarea{
    
        color: var(--secondary--text--color);
    }

}
   